<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yudiz.beacondemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/iim_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="android.app.searchable"
            android:resource="@layout/searchable"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".destinationSearchActivity" />
        <activity android:name=".sourceSearchActivity" />
        <activity android:name=".NavigationView"/>
        <activity android:name=".destinationListActivity" />
        <activity android:name=".SourceListActivity"></activity>

    </application>

</manifest>